.descriptionbox{
    margin: 120px 170px;
}
.descriptionbox-navigator{
    display: flex;
    
}
.descriptionbox-nav-box{
    display: flex;
    
    align-items: center;
    justify-content: center;
    font-size: 19px;
    font-weight: 600;
    width: 191px;
    height: 30px;
    border: 1px solid white;
    padding: 10px;

}
.descriptionbox-nav-box:hover{
    transform: scale(1.05);
    cursor: pointer;
    color: blanchedalmond;
    background: black;
}
.descriptionbox-description{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
   border: 1px solid white;
   padding: 18px;
}

