.cartitems{
    margin: 100px 170px;
}
.cartitems hr{
    height: 2px;
    background:rgb(141, 110, 110);
    border: 0;
}
.classitems-formate-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 65px;
    padding: 20px 0px;
    font-size: 18px;
    font-weight: 600;
   
    
}
 /* img.carticon-product-icon {
    width: 100px;
    height: 100px;
} */
.cartitems-format {
   font-size: 17px;
   font-weight: 500;
}
.carticon-product-icon{
    height: 62px;
}
.cartitems-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}
.cartitems-quantity{
    width: 54px;
    height: 40px;
    border: 2px solid white;
    font-size: 20px;
}
.cartitems-down{
    display: flex;
    margin: 70px 0px;
}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 50px;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
   
}
.cartitems-total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background-color: rgb(92, 90, 90);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: white;
}
.cartitems-total button:hover{
    transform: scale(1.05);
}
